*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #E86DA8;
}

article img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.App {
  padding: 38px 26px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid white;
  width: 400px;
  border-radius: 6px;
  background-color: rgb(241, 237, 231);
  box-shadow: 1px 1px 6px whitesmoke;
}
.App h3 {
  padding-left: 10px;
  margin-bottom: 30px;
}
article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0 10px 0;
}
article img {
  margin-right: 40px;
  box-shadow: 0.5px 0.5px 6px gray, 0.5px 0.5px 6px gray;
}
button {
  padding: 8px 12px;
  width: 60%;
  cursor: pointer;
  margin: 15px auto 0 auto;
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(179, 62, 62);
  border:1px solid rgb(179, 62, 62);
  border-radius: 3px;
  transition:  background-color .9s;
}
button:hover {
  color: white;
  background-color: rgb(179, 62, 62);
}
.refresh-button {
  padding: 8px 12px;
  width: 60%;
  cursor: pointer;
  margin: 15px auto 0 auto;
  text-transform: uppercase;
  font-weight: 800;
  color:  rgb(44, 70, 6);
  border:1px solid  rgb(44, 70, 6);
  border-radius: 3px;
  transition:  background-color .9s;
}
.refresh-button:hover {
  background-color: rgb(44, 70, 6);
  color: white;
}